{% extends "layout-split-2.html" %}
{% load reporters-tags %}
{% load pagination-tags %}
{% load testers_tags %}
{% block title %}Testers{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/static/reporters/javascripts/clear-form-elements.js"></script>
<script type="text/javascript" src="/static/reporters/javascripts/cloneable.js"></script>
{% endblock %}

{% block page_tabs %}
<!--<ul id="page-tabs">
	<li class="page"><a href="/reporters">Reporters</a></li>
	<li class="page"><a href="/reporters/groups">Groups</a></li>
</ul>-->
{% endblock %}

{% block left %}
<div class="module">
	<h2>Testers</h2>
	
	<form method="get" id="search">
		<input type="text" name="q" />
		<input type="submit" value="Search tester" />
	</form>
	<h1>
	    {% if search_string %}
	    	Search for : {{ search_string }}
	    {% endif %}
	</h1>
	
        <div style="text-align:right;">
            <a href="/testers/add" class="add"> Add a new Tester </a>
        </div>

	<table>
		<thead>
			<tr>
				<th scope="col">Surname</th>
                                <th scope="col">Firstname</th>
                                <th scope="col">Phonenumber</th>
				<th scope="col">Samples(Last Month)</th>
                                <th scope="col">Samples (All time)</th>
                                <th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>{% if reporters.object_list %}{% for reporter in reporters.object_list %}
			<tr class="{% cycle 'rowo' 'rowt' %}">
				<td><a href="/testers/{{ reporter.pk }}"{% if reporter.last_name %}>{{ reporter.last_name }}{% else %} class="unknown">Unknown{% endif %}</a></td>
                <td><a href="/testers/{{ reporter.pk }}"{% if reporter.last_name %}>{{ reporter.first_name }}{% else %} class="unknown">Unknown{% endif %}</a></td>
				<td>{% if reporter.connection %}{{ reporter.connection.identity }}{% else %}<span class="na">None</span>{% endif %}</td>
				{% get_counts_for_tester reporter %}
                <td>
                	<a href="/testers/{{ reporter.pk }}">Edit</a> |
                    <a href="/testers/{{ reporter.pk }}/delete">Delete</a>
                </td>
			</tr>{% endfor %}{% else %}
			<tr class="no-data">
				<td colspan="3">
					No Testers Yet.
					<a href="/testers/add" class="add">
						Add a Tester
					</a>
				</td>
			</tr>{% endif %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">
					{% paginator reporters %}
				</td>
			</tr>
		</tfoot>
	</table>
	<div class="toolbar">
		<!--<a href="/reporters/add" class="add">Add a Reporter</a>-->
	</div>
</div>
{% endblock %}

{% block right %}
<!--<div class="module">
	<h2>All Groups</h2>
	<table>
		<thead>
			<tr>
				<th scope="col">Title</th>
				<th scope="col">Members</th>
			</tr>
		</thead>
		<tbody>{% if groups.object_list %}{% for group in groups.object_list %}
			<tr class="depth-{{ group.depth }}">
				<td class="indent"><span><a href="/groups/{{ group.pk }}"{% if group.title %}>{{ group.title }}{% else %} class="unknown">Unknown{% endif %}</a></span></td>
				<td>{{ group.members }}</td>
			</tr>{% endfor %}{% else %}
			<tr class="no-data">
				<td colspan="3">
					No Groups Yet.
					<a href="/groups/add" class="add">
						Add a Group
					</a>
				</td>
			</tr>{% endif %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">
					{% paginator groups %}
				</td>
			</tr>
		</tfoot>
	</table>
	<div class="toolbar">
		<a href="/groups/add" class="add">Add a Group</a>
	</div>
</div>-->
{% endblock %}
