{% extends "hq/base.html" %}
{% block page_stylesheets %}
<!--    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/hq/stylesheets/fullcalendar.css" />
    <style>-->
<!--        table{
            border: none;

        }
    </style>-->
{% endblock %}
{% block javascripts %}
<!--    <script type="text/javascript" src="{{MEDIA_URL}}/graphing/flot/jquery.js"></script>-->
    <script type="text/javascript" src="{{MEDIA_URL}}/graphing/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/aquatest/js/selector.js"></script>

    
    <!--<script type="text/javascript" src="{{MEDIA_URL}}/hq/javascripts/fullcalendar.js"></script>-->
<!--    <script type="text/javascript" src="{{MEDIA_URL}}/hq/javascripts/fullcalendar.min.js"></script>-->
<!--    <script type="text/javascript">
    $(document).ready(function() {

                    var date = new Date();
                    var d = date.getDate();
                    var m = date.getMonth();
                    var y = date.getFullYear();

                 

                    $('#calendar').fullCalendar({
                            dayClick: function() {
                                alert('a day has been clicked!');
                            },
                            header: {
                                    left: 'prev,next today',
                                    left: 'prev,today,next',
                                    center: 'title ',
                                    right: 'month,basicWeek,basicDay,'
                            },
                            editable: true,
                            events: [
                                    {
                                            title: 'All Day Event',
                                            start: new Date(y, m, 1)
                                    },
                                    {
                                            title: 'Long Event',
                                            start: new Date(y, m, d-5),
                                            end: new Date(y, m, d-2)
                                    },
                                    {
                                            id: 999,
                                            title: 'Repeating Event',
                                            start: new Date(y, m, d-3, 16, 0),
                                            allDay: false
                                    },
                                    {
                                            id: 999,
                                            title: 'Repeating Event',
                                            start: new Date(y, m, d+4, 16, 0),
                                            allDay: false
                                    },
                                    {
                                            title: 'Meeting',
                                            start: new Date(y, m, d, 10, 30),
                                            allDay: false
                                    },
                                    {
                                            title: 'Lunch',
                                            start: new Date(y, m, d, 12, 0),
                                            end: new Date(y, m, d, 14, 0),
                                            allDay: false
                                    },
                                    {
                                            title: 'Birthday Party',
                                            start: new Date(y, m, d+1, 19, 0),
                                            end: new Date(y, m, d+1, 22, 30),
                                            allDay: false
                                    },

                            ]
                    });

            });
    </script>-->
{% endblock %}


{% load i18n %}
{% load wqm-tags %}
{% load pagination-tags %}
{% load calender_tags %}

{% block title %}{% trans "Reports by Calender" %}{% endblock %}

{% block org_content %}
<!--<h2>{%trans "Report by Calender"%}</h2>-->

<iframe src="http://www.google.com/calendar/embed?src=4pqgd71gke0vun1rus4pmr1rjc%40group.calendar.google.com&ctz=Africa/Dar_es_Salaam" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>




{% endblock %}
