{% extends "hq/base.html" %}


{% load i18n %}
{% load wqm-tags %}



{% block title %}{% trans "Reports by Calender" %}{% endblock %}

{% block org_content %}
<div id ="select" align="center">
    <b>Select Area</b>
    <select name="a">
        <option>Area 1</option>
        <option>Area 2</option>
    </select>

</div>
<div id ="cal" align="center">
    <iframe src="http://www.google.com/calendar/embed?src=aquatest.project%40gmail.com&ctz=Africa/Johannesburg" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>


{% endblock %}
