{% extends "hq/base.html" %}
{% load i18n %}
{% load samples_tags %}
{% load pagination-tags %}

{% block title %}{% trans "Samples" %}{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{MEDIA_URL}}/graphing/flot/jquery.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/graphing/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/aquatest/js/selector.js"></script>
{% endblock %}

{% block org_content %}
<h2>Samples</h2>
<br>

<h1>
    {% if search_string %}
    {% for d in search_string %}
    	{{ d }}
    {% endfor %}
    {% endif %}
</h1>

    {% trans "Show Samples for:" %}
    <!--need a js to interact the selection-->
<form method="get" id="search">
    <select name="q">
            <option value=""></option>
            {% for district in sort_districts %}
            <!--put value to point to the actual html file-->
            <option value="{{ district.id }}">{{ district.name }}</option>
            {% endfor %}
    </select>
    <input type="submit" value="Filter"/>
</form>

<table>
		<thead>
			<tr>
	            <th>Sampling point (Area)</th>
	            <th>Taken by</th>
	            <th>Date Taken</th>
	            <th>Date Received</th>
	            <th>Results</th>
	       	</tr>
	    </thead>
	 	<tbody>
	 		{% for sample in samples.object_list %}
	 		<tr class="{% cycle 'odd' 'even' %}">
	 			<td>{{ sample.sampling_point }} ({{ sample.sampling_point.wqmarea}})</td>
	 			<td>{{sample.taken_by}}</td>
	 			<td>{{sample.date_taken}}</td>
	 			<td>{{sample.date_received}}</td>
	 			
	 				{% m_values sample %}
	 			
	 		</tr>
	 		{% endfor %}
	 	</tbody>   
	 	<tfoot>
			<tr>
				<td colspan="5">
					{% paginator samples %}
				</td>
			</tr>
		</tfoot>
	 	
	 </table>

{% endblock %}